<!-- <p>header works!</p> -->
<mat-toolbar color='primary'>
    <div>
        <button mat-icon-button (click)='openOnToggle()'>
            <mat-icon> menu </mat-icon>
        </button>
    </div>
    <div class="logo-container">
        <div fxLayout='column' fxLayoutAlign='center center'>
                <!-- <span><h1>Desire</h1></span> -->
                <img class="logo" src="assets/images/new_logo.png" alt="#">
                <!-- <span>Destination</span> -->
        </div>
    </div>
</mat-toolbar>